<div>
  <h3><%= @user.name %></h3>
  <<%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
  <%= link_to "編集", edit_user_path(@user.id) %>
  <%end%>
</div>


<%= render "postimages/list", postimages: @postimages %>